@-webkit-keyframes bounce {
  100% {
    top: -30px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}
body 
{
  margin: 0;
  background-color: hsl(65, 51%, 74%);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  cursor: default;
  position: top;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;
  
  -webkit-animation: bounce .3s ease infinite alternate;
  
  font-family: 'Erica One', cursive;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}

h2 
{
  margin: 0 10px;
  background-color: hsl(235, 20%, 25%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

h3 
{
	text-align:center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding-left: 5px;
  background-color: hsl(125, 60%, 40%);
  color: white;
  font-size: 1.5rem;
}

p 
{
  margin: 5px 5px;
}
table{
	border-collapse: collapse;
	background-color: white;
	text-align: center;
	width: 50%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover th{
	background-color: #369681;
	color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
